<div class="container" align="center">
  <%= content_tag(:div, content_tag(:h2,"Welcome back #{current_user.fullname}"), class: 'row') %>
  <% if !current_user.admin? %>
    <div class="row">
      <div class="col-md-6">
        <%= link_to content_tag(:i, '', class: ['fa', 'fa-list', 'fa-10x']), user_activities_path(current_user.id) %><br>
        <%= link_to "View all of my activities", user_activities_path(current_user.id) %>
      </div>
      <div class="col-md-6">
      <%= link_to content_tag(:i, '', class: ['fa', 'fa-plus', 'fa-10x']), new_user_activity_path(current_user.id) %><br>
      <%= link_to "Add an activity", new_user_activity_path(current_user.id) %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-4">
        <%= link_to content_tag(:i, '', class: ['fa', 'fa-ra', 'fa-10x']), user_admin_index_path(current_user.id) %><br>
        <%= link_to "View all User activities", user_activities_path(current_user.id) %>
      </div>
      <div class="col-md-4">
        <%= link_to content_tag(:i, '', class: ['fa', 'fa-list', 'fa-10x']), user_activities_path(current_user.id) %><br>
        <%= link_to "View all of my activities", user_activities_path(current_user.id) %>
      </div>
      <div class="col-md-4">
      <%= link_to content_tag(:i, '', class: ['fa', 'fa-plus', 'fa-10x']), new_user_activity_path(current_user.id) %><br>
      <%= link_to "Add an activity", new_user_activity_path(current_user.id) %>
      </div>
    </div>
  <% end %>
</div>