<p><%= @user.fullname %> has recently added a new Comp-time activity. Please log in and review.</p>

<p>
<b>Name: </b><%= @activity.name %><br>
<b>Date: </b><%= @activity.date.strftime("%m/%d/%y") %><br>
<b>Hours: </b><%= @activity.hours_worked %><br>
<b>Notes: </b><%= @activity.notes %>
</p>

<p><%= @url %></p>