<div class="container">
<% if !flash.empty? %>
  <%= content_tag(:div,content_tag(:div, flash[:notice], class: ['fa', 'fa-frown-o'], width: '100%'), class: ['row', 'alert', 'alert-danger'], align: 'center') %>
<% end %>
  <div class="row">
    <%= content_tag(:h1, "Activities for: #{current_user.fullname}") %>
  </div>
  <div class="row">
  <table class="table table-striped">
    <tr>
      <td>Hours Worked</td>
      <td>Experience Name</td>
      <td>Experience Date</td>
      <!-- <td>Approved?</td> -->
    </tr>
    <% @activities.each do |a| %>
      <tr>
        <td><%= content_tag(:p, a.hours_worked) %></td>
        <td><%= content_tag(:p, a.name) %></td>
        <td><%= content_tag(:p, a.date) %></td>
        <!-- <td><p><%= a.approved ? "Yes" : "No" %></p></td> -->
      </tr>
    <% end %>
    <tr>
      <td colspan="3">
       <%= @activities.sum(:hours_worked) %> Total Hours
      </td>
    </tr>
  </table>
  </div>
</div>