<div class="container">
  <div class="row">
    <%= content_tag(:h1, "Activities for: #{current_user.fullname}") %>
  </div>
  <div class="row">
  <table class="table table-striped">
    <tr>
      <td>Hours Worked</td>
      <td>Experience Name</td>
      <td>Experience Date</td>
    </tr>
    <% @activities.each do |a| %>
      <tr>
        <td><%= content_tag(:p, a.hours_worked) %></td>
        <td><%= content_tag(:p, a.name) %></td>
        <td><%= content_tag(:p, a.date) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">
       <%= @activities.sum(:hours_worked) %> Total Hours
      </td>
    </tr>
  </table>
  </div>
</div>