<div class="container">
<div class="row">
  <%= content_tag(:h1, current_user.fullname) %>
</div>
<div class="row">
    <div class="col-md-6">
      <%= simple_form_for [@user, @activity] do |f| %>
        <%= f.input :name, :label => "Experience Name" %>
        <%= f.input :date, :label => "Experience Date (click on calendar icon)", placeholder: "DD/MM/YYYY", :as => :date_picker %>
        <%= f.input :hours_worked %>
        <%= f.input :notes %>
        <% if current_user.admin? %>
        <%= f.input :approved, as: :boolean, value: false %>
        <% end %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>